.body {
  min-width: $mobile-width;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $base-color;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.body--overlay {
  height: 100vh;
  overflow: hidden;
}
