.page-header__wrapper {
  position: relative;
  min-height: 825px;
  margin-bottom: 150px;
  padding-bottom: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    z-index: -1;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/promo-desktop@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-desktop@2x.webp");
    }
  }

  &::after {
    background: linear-gradient(#0e0e0e, #1f1f1f);
    z-index: -2;
  }
}

.page-header__inner {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.page-header__top {
  padding-top: 21px;
}

.page-header__logo {
  position: absolute;
  top: 318px;
  left: 9px;
  text-decoration: none;
  color: white;
}

.page-header__block {
  display: flex;
  justify-content: space-between;
  padding-left: 9px;
}

@media (max-width: $tablet-width-only) {
  .page-header__inner {
    max-width: 100%;
  }

  .page-header__wrapper {
    min-height: 340px;
    margin-bottom: 30px;

    &::before {
      height: 47%;
      background-image: url("../img/promo-tablet@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/promo-tablet@2x.webp");
      }
    }

    &::after {
      height: 47%;
    }
  }

  .page-header__top {
    margin: 0 auto;
    position: relative;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .page-header__logo {
    position: static;
  }

  .page-header__block {
    display: block;
    padding-left: 1px;
  }
}

@media (max-width: $mobile-width-only) {
  .page-header__wrapper {
    min-height: 390px;

    &::before {
      height: 49.3%;
      background-image: url("../img/promo-mobile@1x.webp");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/promo-mobile@2x.webp");
      }
    }

    &::after {
      height: 49.3%;
    }
  }

  .page-header__top {
    padding-left: 16px;
    padding-right: 16px;
  }

  .page-header__block {
    padding-left: 16px;
    padding-right: 16px;
  }
}
