.page-footer__wrapper {
  padding-bottom: 67px;
}

.page-footer__title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1f1f1f;
  text-align: center;
}

.page-footer__text {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.page-footer_image {
  margin-bottom: 29px;
}

.page-footer_image img {
  display: block;
  width: 957px;
  height: 530px;
  margin: 0 auto;
}

.page-footer__contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.page-footer__contacts svg {
  width: 26px;
  height: 20px;
}

.page-footer__contacts a {
  margin-right: 70px;

  &:last-child {
    margin-right: 15px;
  }
}

.page-footer__email,
.page-footer__phone {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  line-height: 22px;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    color: #0ad9c6;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__email svg,
.page-footer__phone svg {
  margin-right: 15px;
  fill: transparent;
}

@media (max-width: $tablet-width-only) {
  .page-footer__wrapper {
    padding-bottom: 23px;
  }

  .page-footer__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .page-footer__text {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .page-footer_image {
    margin-bottom: 11px;
  }

  .page-footer_image img {
    width: 698px;
    height: 545px;
  }
}

@media (max-width: $mobile-width-only) {
  .page-footer__wrapper {
    padding-bottom: 7px;
  }

  .page-footer__location {
    padding-left: 16px;
    padding-right: 16px;
  }

  .page-footer__title {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .page-footer__text {
    margin-bottom: 19px;
  }

  .page-footer_image {
    margin-bottom: 21px;
  }

  .page-footer_image img {
    width: 320px;
    height: 250px;
  }

  .page-footer__contacts {
    display: block;
    padding-left: 18px;
    padding-right: 5px;
  }

  .page-footer__contacts a {
    margin-right: 10px;
    justify-content: center;

    &:last-child {
      margin-right: 10px;
    }
  }

  .page-footer__email {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
