.page-header {
  background: linear-gradient(#0e0e0e, #1f1f1f);
}

.page-header__wrapper {
  min-height: 825px;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("../img/promo-desktop@1x.jpg");
  margin-bottom: 150px;
  padding-bottom: 20px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-desktop@2x.jpg");
    background-size: 1440px;
  }
}

.page-header__inner {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.page-header__top {
  padding-top: 21px;
}

.page-header__logo {
  position: absolute;
  top: 318px;
  left: 9px;
  text-decoration: none;
  color: white;
}

.page-header__block {
  display: flex;
  justify-content: space-between;
  padding-left: 9px;
}

@media (max-width: $tablet-width-only) {
  .page-header {
    background: linear-gradient(#202020 340px, white 340px);
  }

  .page-header__wrapper {
    min-height: 340px;
    background-position: top;
    background-image: url("../img/promo-tablet@1x.jpg");
    margin-bottom: 30px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-tablet@2x.jpg");
      background-size: 767px;
    }
  }

  .page-header__top {
    max-width: $mobile-width-only;
    margin: 0 auto;
    position: relative;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .page-header__logo {
    position: static;
  }

  .page-header__block {
    display: block;
  }
}

@media (max-width: $mobile-width-only) {
  .page-header {
    background: linear-gradient(#202020 340px, white 340px);
  }

  .page-header__wrapper {
    min-height: 390px;
    background-image: url("../img/promo-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-mobile@2x.jpg");
      background-size: 320px;
    }
  }

  .page-header__top {
    max-width: $mobile-width;
    padding-left: 16px;
    padding-right: 16px;
  }

  .page-header__block {
    padding-left: 16px;
    padding-right: 16px;
  }
}
