.promo {
  max-width: 390px;
}

.promo__title {
  margin-left: 0;
  margin-right: 0;
  margin-top: 307px;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  color: white;
}

.promo__text {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: white;
  opacity: 0.8;
}

@media (max-width: $tablet-width-only) {
  .promo {
    max-width: 100%;
  }

  .promo__title {
    margin-top: 84px;
    margin-bottom: 19px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  .promo__text {
    max-width: 430px;
    margin: 0 auto;
    margin-bottom: 150px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }
}

@media (max-width: $mobile-width-only) {
  .promo__title {
    margin-top: 70px;
  }

  .promo__text {
    margin-bottom: 140px;
  }
}
