.types-bicycles__wrapper {
  padding-top: 151px;
  padding-bottom: 119px;
  background-color: #f6f7f9;
}

.types-bicycles__inner {
  padding-left: 23px;
}

.types-bicycles__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 0;
  max-width: 1126px;
  width: 100%;
}

.types-bicycles__item {
  max-width: 342px;
  margin-bottom: 30px;
  margin-right: 50px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.types-bicycles__item img {
  display: block;
  margin-bottom: 20px;
  border-radius: 10px;
}

.types-bicycles__item:nth-child(3n-1) img {
  margin-top: 29px;
}

.types-bicycles__item--1 {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 156px;
    left: -60px;
    z-index: -1;
    width: 180px;
    height: 180px;
    border: 27px solid #0ad9c6;
    border-radius: 50%;
  }
}

.types-bicycles__item--2 {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 47px;
    border: 8px solid #0ad9c6;
  }

  &::before {
    top: 11px;
    left: -19px;
  }

  &::after {
    bottom: 31px;
    right: -23px;
  }
}

.types-bicycles__item--3 {
  position: relative;
  margin-top: -10px;

  &::after {
    content: "";
    position: absolute;
    top: -32px;
    right: -36px;
    width: 95px;
    height: 95px;
    border: 17px solid #0ad9c6;
    border-radius: 50%;
  }
}

.types-bicycles__item--1 img {
  width: 342px;
  height: 503px;
}

.types-bicycles__item--2 img {
  width: 342px;
  height: 566px;
}

.types-bicycles__item--3 img {
  width: 342px;
  height: 513px;
}

.types-bicycles__label {
  display: block;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -1px;
  color: $base-color;
}

@media (max-width: 1165px) {
  .types-bicycles__item {
    max-width: 300px;
  }

  .types-bicycles__item img {
    width: auto;
    height: auto;
  }

  .types-bicycles__item--1 {
    &::before {
      top: 156px;
      left: -30px;
      width: 90px;
      height: 90px;
      border-width: 17px;
    }
  }

  .types-bicycles__item--3 {
    &::after {
      top: -15px;
      right: -10px;
      width: 55px;
      height: 55px;
      border-width: 10px;
    }
  }
}

@media (max-width: $tablet-width-only) {
  .types-bicycles__wrapper {
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .types-bicycles__list {
    max-width: $tablet-width;
    justify-content: center;
  }

  .types-bicycles__item {
    margin-bottom: 60px;

    &:nth-child(3n) {
      margin-right: 50px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(odd) {
      margin-left: -23px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .types-bicycles__item--1 {
    &::before {
      top: auto;
      bottom: 26px;
      left: -37px;
      width: 127px;
      height: 127px;
      border-width: 18px;
    }
  }

  .types-bicycles__item--2 {
    &::before,
    &::after {
      content: none;
    }
  }

  .types-bicycles__item--3 {
    &::after {
      top: -20px;
      right: -25px;
      width: 68px;
      height: 68px;
      border-width: 13px;
    }
  }

  .types-bicycles__item img {
    width: 270px;
    height: 300px;
  }

  .types-bicycles__item:nth-child(3n-1) img {
    margin-top: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .types-bicycles__wrapper {
    padding-bottom: 54px;
  }

  .types-bicycles__list {
    max-width: $mobile-width;
    justify-content: center;
  }

  .types-bicycles__inner {
    padding-left: 25px;
    padding-right: 25px;
  }

  .types-bicycles__item {
    margin-bottom: 42px;
    margin-right: 0;

    &:nth-child(2n),
    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 52px;
    }

    &:nth-child(odd) {
      margin-left: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .types-bicycles__item--1 {
    &::before {
      top: auto;
      bottom: 26px;
      left: -24px;
    }
  }

  .types-bicycles__item--3 {
    &::after {
      top: -20px;
      right: -15px;
    }
  }
}
