.video-bicycles__wrapper {
  background: linear-gradient(#131314 706px, white 706px);
  margin-bottom: 147px;
  padding-top: 120px;
}

.video-bicycles__text {
  max-width: 340px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: white;
  opacity: 0.7;
  margin-top: 0;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
}

.video-bicycles__image {
  position: relative;
  text-align: center;
}

.video-bicycles__image img {
  width: 929px;
  height: 522px;
}

.video-bicycles__play-button {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 32px);
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/icon-play.svg");
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
  transition: transform 0.3s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active,
  &:focus {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

@media (max-width: $tablet-width-only) {
  .video-bicycles__wrapper {
    background: linear-gradient(#131314 413px, white 413px);
    margin-bottom: 65px;
    padding-top: 63px;
  }

  .video-bicycles__text {
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .video-bicycles__image img {
    width: 503px;
    height: 282px;
  }

  .video-bicycles__play-button {
    width: 91px;
    height: 91px;
    top: calc(50% - 48px);
    left: calc(50% - 45px);
  }
}

@media (max-width: $mobile-width-only) {
  .video-bicycles__wrapper {
    background: linear-gradient(#131314 384px, white 384px);
    padding-top: 77px;
  }

  .video-bicycles__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .video-bicycles__image img {
    width: 288px;
    height: 162px;
  }

  .video-bicycles__text {
    margin-bottom: 53px;
  }

  .video-bicycles__play-button {
    width: 65px;
    height: 65px;
    top: calc(50% - 35px);
    left: calc(50% - 32px);
  }
}
