// global styles
@import "global/variables.scss";
@import "global/normalize.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "blocks/container";

// header
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-menu-toggle.scss";
@import "blocks/promo";
@import "blocks/help-form.scss";

// blocks styles
@import "blocks/body.scss";
@import "blocks/title-h2.scss";
@import "blocks/advantages.scss";
@import "blocks/types-bicycles.scss";

// footer
@import "blocks/page-footer.scss";

// nojs
@import "blocks/nojs.scss";
